@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure smooth touch scrolling on mobile devices */
* {
  -webkit-tap-highlight-color: transparent;
}
